@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body {
  overflow-x: hidden;
}

#overlay {
  font-family: 'Comforter Brush', cursive;
}

#overlay2 {
  font-family: 'Raleway', sans-seri
}

@keyframes wind-blow-left {
  0% {
    transform: rotate(0deg) skewX(0deg);
  }
  25% {
    transform: rotate(0.1deg) skewX(-0.1deg);
  }
  50% {
    transform: rotate(0deg) skewX(-0.3deg);
  }
  75% {
    transform: rotate(0.1deg) skewX(-0.1deg);
  }
  100% {
    transform: rotate(0deg) skewX(0deg);
  }
}

.hair-anim-front {
  animation: wind-blow-left 5s ease-in-out infinite;
  transform-origin: top left;
}

.hair-anim-side {
  animation: wind-blow-left 6s ease-in-out infinite;
  transform-origin: top left;
  animation-delay: 1s;
}

.petal-container-f {
  position: relative;
  width: 100vw;
  height: auto;
  top: 0%;
  pointer-events: none; 
  overflow: visible;
  z-index: 1; 
}

.petal {
  animation: blow-left 5s ease-in-out 1;
  opacity: 0.8;
  position: absolute;
  animation-fill-mode: forwards;
}

@keyframes blow-left {
  0% {
    transform: translate(var(--startX), 0vh) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--endX), 100vh) rotate(360deg);
    opacity: 0;
  }
}

.footer-stack {
  position: relative;
  overflow: hidden;
  height: auto; 
  width: fit-content;
}

.footer-book {
  width: 90vw;
  max-width: 1400px;
  height: auto;

  object-fit: contain;
  z-index: 1;
  position: relative;
  transform: translateY(40px);
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.3));
  animation: bounce 12s ease-in-out infinite;
}

.footer-hand {
  position: absolute;
  object-fit: contain;
  z-index: 2;
  pointer-events: none;
}

.left-hand {
  width: 90vw;
  max-width: 1400px;
  height: auto;

  left: -60px;
  transform: translateX(-8px) translateY(40px);
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.3));
  animation: sway 12s ease-in-out infinite;
}

.right-hand {
  width: 90vw;
  max-width: 1400px;
  height: auto;

  right: -60px;
  transform: translateX(-8px) translateY(40px);
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.3));
  animation: sway2 12s ease-in-out infinite;
}

@keyframes sway {
  0%, 100% {
    transform: translateX(-8px) translateY(40px) rotate(0deg);
  }
  50% {
    transform: translateX(-8px) translateY(40px) rotate(-1deg);
  }
}

@keyframes sway2 {
  0%, 100% {
    transform: translateX(-8px) translateY(40px) rotate(0deg);
  }
  50% {
    transform: translateX(-8px) translateY(40px) rotate(2deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(40px) rotate(0deg);
  }
  50% {
    transform: translateY(40px) rotate(3deg);
  }
}
