@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1rem, 2vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  padding: 0rem 3rem 0rem 3rem; 
  font-family: 'Poiret One', cursive, sans-serif;
}

.word {
  display: inline-block;
}

@media (max-width: 600px) {
  .scroll-reveal-text {
    padding: 0 1rem;
  }
}