@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
  padding: 0rem 5rem 5rem 5rem; 
  font-size: 30px;
  font-family: 'Poiret One', cursive, sans-serif;
}

.word {
  display: inline-block;
}