.shiny-text {
  position: relative;
  display: inline-block;
  color: rgb(83, 25, 47); /* base text color */
  font-weight: bold;
}

.shiny-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(
    120deg,
    rgba(141, 141, 141, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(141, 141, 141, 0) 60%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  pointer-events: none;
  animation: shine var(--shine-duration, 5s) linear infinite;
}

.shiny-text.disabled::before {
  animation: none;
}


@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
